{% if plan.db_credentials %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ plan.app_name }}-db-secret
  namespace: {{ namespace }}
  labels:
    managed-by: idp-framework
    app: {{ plan.app_name }}
type: Opaque
stringData:
{%- for key, value in plan.db_credentials.items() %}
  {{ key }}: "{{ value }}"
{%- endfor %}
{% endif %}
