apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ plan.app_name }}-pvc
  namespace: {{ namespace }}
  labels:
    managed-by: idp-framework
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ plan.storage_gb | default(1) }}Gi