apiVersion: v1
kind: Secret
metadata:
  name: {{ plan.app_name }}-secret
  namespace: {{ namespace }}
  labels:
    managed-by: idp-framework
type: Opaque
data:
{% for key, value in plan.secret_data.items() %}
  {{ key }}: {{ value | b64encode }}
{% endfor %}
