apiVersion: v1
kind: Service
metadata:
  name: {{ plan.app_name }}-svc
  namespace: {{ namespace }}
  labels:
    app: {{ plan.app_name }}
    managed-by: idp-framework
spec:
  type: {% if plan.networking is not none and plan.networking.expose_externally %}NodePort{% else %}ClusterIP{% endif %}
  selector:
    app: {{ plan.app_name }}
  ports:
    - name: port-{{ plan.app_name }}
      protocol: TCP
      port: {{ plan.service_port | default(80) }}
      targetPort: {{ plan.container_port | default(80) }}